<div class="card bg-secondary">
  <div class="card-body d-flex">
    <%= link_to "#{equipment.brand.upcase} #{equipment.model.upcase}", equipment_path(equipment), class: "me-auto text-white" %>
    <%= render "shared/dropdown" do %>
      <li><%= link_to "Editar", edit_equipment_path(equipment), class: "btn btn-primary me-2 dropdown-item" %></li>
      <li><%= button_to "Eliminar", equipment_path(equipment), method: :delete, class: "bg-danger dropdown-item" %></li>
    <% end %>
  </div>
</div>