<div class="container">
  <% equipment.attributes.each do |attribute, value| %>
    <% next if %w[id created_at updated_at serial_number].include? attribute %>
    <div class="mb-3">
      <p>
        <strong class="text-bg-primary p-1 rounded me-2">
          <%=  Equipment.human_attribute_name(attribute) %>
        </strong>
        <% if attribute.eql?("manual") && value.present?  %>
          <%= link_to "ver", value, target: "_blank" %>
        <% else %>
          <%= value %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>