<%= turbo_frame_tag equipment_card, class: "col-6 col-sm-3 col-xl-2" do %>
  <div class="card">
    <%= image_tag image_for(equipment_card, :avatar, ""),
                  alt: "Imagen de Bateria",
                  class:"img-fluid rounded-top" %>
    <div class="card-body">
      <h6 class="card-title" style="height: 40px;"><%= equipment_card.model %></h6>
      <%= link_to "Ver", equipment_path(equipment_card),
                         class: "btn btn-primary",
                         data: { turbo_frame: "main_content" } %>
    </div>
  </div>
<% end %>