<div class="card text-center border-4" style="width: 12rem; height: 20rem; border-style: dashed;">
  <div class="card-body d-flex flex-column justify-content-center">
    <p class="card-text">Vacío</p>
  </div>
</div>