<%= turbo_frame_tag "main_content", class: "w-100" do %>
  <%= render "shared/content_header", title: "Equipos" do %>
    <%= render "shared/button_link", text: "Agregar",
                                    path: new_equipment_path %>
  <% end %>

  <div id="equipment" class="row g-3 my-3 mx-2">
    <%= render partial: "equipment_card", collection: @equipment %>
  </div>
<% end %>