<div class="row">
  <h1>Editar Insumo</h1>
  <%= render "shared/remote_modal", title: "Editar Insumo" do %>
    <div class="col-12">
      <%= render 'form', equipment_supply: @equipment_supply %>
    </div>
  <% end %>
</div>