<div class="row">
  <h1>Añadir Insumo al equipo</h1>
  <%= render "shared/remote_modal", title: "Añadir Insumo al equipo" do %>
    <div class="col-12">
      <%= render 'form', equipment_supply: @equipment_supply %>
    </div>
  <% end %>
</div>
