<div class="flex-shrink-1 py-2">
  <% if text.present?%>
    <%= link_to text , path,
                      class: "btn btn-primary text-uppercase h-100 font-monospace",
                      style: "font-size: 0.8rem !important;",
                      data: {
                        turbo_frame: "remote_modal"
                      } %>
  <% else %>
    <%= link_to path, class: "btn btn-primary text-uppercase h-100 font-monospace",
                      style: "font-size: 0.8rem !important;",
                      data: {
                        turbo_frame: "remote_modal"
                      } do %>
          <%= tag.i(class: icon) %>
    <% end %>
  <% end %>
</div>