<div class="dropdown">
  <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </a>
  <ul class="dropdown-menu">
    <%= yield %>
  </ul>
</div>