<nav class="navbar bg-primary sticky-top justify-content-between px-2" style="height: 95px">
  <%= link_to image_tag('prela_logotipo-1.png', height: "100%"),
              root_path,
              class: "navbar-brand bg-light rounded h-100" %>
  <% if user_signed_in? %>
    <div class="dropdown">
      <a class="text-bg-primary link-underline link-underline-opacity-0 fs-6" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <p class="dropdown-header"><%= current_user.email %></p>
        </li>
        <li>
          <%= button_to(
            "Cerrar Sesion",
            destroy_user_session_path,
            method: :delete,
            class: "dropdown-item"
          ) %>
        </li>
      </ul>
    </div>
  <% end %>
</nav>