<%= turbo_frame_tag "remote_modal" do %>
    <div class="modal-header">
        <h4 class="modal-title" id="newClientRemoteModalLabel"><%= title %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body remote_modal_body" id="remote_modal_body">
        <%= yield %>
    </div>
<% end %>