<div id="<%= dom_id client %>">
  <% if client.avatar.attached?%>
    <%= image_tag client.avatar.variant(resize_to_limit: [100, 100]) %>
  <% end %>

  <p>
    <strong>Cliente:</strong>
    <%= client.name %>
  </p>
</div>
