<h1>Editar cliente</h1>

<%= turbo_frame_tag "client_#{@client.id}" do %>
  <%= render "form", client: @client %>

  <br>

  <div>
    <%= link_to "Cancelar", @client, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
  </div>
<% end %>
