<div class="container mt-3 mx-auto col-sm-4">
  <div>
    <h1 class="text-center">Clientes</h1>
    <%= link_to "Agregar cliente", new_client_path,
                                   class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover",
                                   data: { turbo_frame: dom_id(Client.new) } %>

    <%= turbo_frame_tag Client.new %>
    <%= turbo_frame_tag "clients", class: "list-group mt-3" do %>
      <% @clients.each do |client| %>
        <%= render partial: 'clients/client_link', locals: { client: client } %>
      <% end %>
    <% end %>
  </div>
</div>
