<%= render "shared/content_header", title: "Panel de control" %>

<div class="accordion m-4 col-md-4" id="locationEquipmentsControl">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        UPS
        <% if current_user.location_equipments.ups_with_overdue_maintenance.any? %>
          <i class="fa fa-circle fa-2xs mx-2 text-danger" aria-hidden="true"></i>
          (<%= current_user.location_equipments.ups_with_overdue_maintenance.count %>)
        <% else %>
          <i class="fa fa-circle fa-2xs mx-2 text-success" aria-hidden="true"></i>
        <% end %>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#locationEquipmentsControl">
      <div class="accordion-body">

        <div class="accordion" id="upsControl">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upsCollapseOne" aria-expanded="true" aria-controls="upsCollapseOne">
                Service vencido
              </button>
            </h2>
            <div id="upsCollapseOne" class="accordion-collapse collapse" data-bs-parent="#upsControl">
              <div class="accordion-body">
                <ul class="list-group">
                  <% current_user.location_equipments.ups_with_overdue_maintenance.each do |ups| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <%= link_to "#{ups.equipment.model} - #{ups.location.name}", location_equipment_path(ups), data: { turbo_frame: "main_content", turbo_action: "advance"}%>
                      <span class="badge bg-danger rounded-pill">Vencido</span>
                    </li>
                  <% end %>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upsCollapseTwo" aria-expanded="false" aria-controls="upsCollapseTwo">
                Mala condición
              </button>
            </h2>
            <div id="upsCollapseTwo" class="accordion-collapse collapse" data-bs-parent="#upsControl">
              <div class="accordion-body">
                Todas las UPS están en correcto funcionamiento.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Grupos electrógenos
        <% if false %>
          <i class="fa fa-circle fa-2xs mx-2 text-danger" aria-hidden="true"></i>
          (<%= current_user.location_equipments.ups_with_overdue_maintenance.count %>)
        <% else %>
          <i class="fa fa-circle fa-2xs mx-2 text-success" aria-hidden="true"></i>
        <% end %>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#locationEquipmentsControl">
      <div class="accordion-body">
        Todos los grupos electrógenos están en correcto funcionamiento y no tienen mantenimientos vencidos.
      </div>
    </div>
  </div>
</div>
