<%= turbo_frame_tag "main_content", class: "w-100" do %>
  <% if current_user.admin? %>
    <div class="col-md-6">
      <%= render "links/links", links: @links %>
    </div>
  <% end %>
  <%= render "control_panel"%>
<% end %>

