<%= render "shared/content_header", title: "Enlaces de interés" do %>
  <%= render "shared/button_link", text: "Agregar",path: new_link_path %>
<% end %>

<table class="table mt-4 text-center">
  <thead>
    <tr>
      <th>Título</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <%= render "links/links_table", links: links %>
</table>

