<%= turbo_frame_tag "overdue_service_date_list" do %>
  <div class="accordion my-4" id="serviceDateControl">
    <%= render "control_panel/overdue_service_dates", title: "UPS",
                                                      overdue_services: overdue_services["ups"],
                                                      collapse: "collapseOne" %>
    <%= render "control_panel/overdue_service_dates", title: "Grupos electrógenos",
                                                      overdue_services: overdue_services["power_unit"],
                                                      collapse: "collapseTwo" %>
    <%= render "control_panel/overdue_service_dates", title: "Tableros eléctricos",
                                                      overdue_services: overdue_services["electrical_panel"],
                                                      collapse: "collapseThree" %>
  </div>
<% end %>