<%= render "shared/content_header", title: "Panel de control" %>

<div class="accordion m-4" id="locationEquipmentsControl">
  <%= render "location_equipments/control_panel/overdue_location_equipments", title: "UPS",
                                                                              overdue_equipments: overdue_ups,
                                                                              collapse: "collapseOne" %>
  <%= render "location_equipments/control_panel/overdue_location_equipments", title: "Grupos electrógenos",
                                                                              overdue_equipments: overdue_power_units,
                                                                              collapse: "collapseTwo" %>
  <%= render "location_equipments/control_panel/overdue_location_equipments", title: "Paneles eléctricos",
                                                                              overdue_equipments: overdue_electrical_panels,
                                                                              collapse: "collapseThree" %>
</div>
