<h6>Cliente</h6>
<%= f.collection_check_boxes :client_ids, Client.order(:name), :id, :name do |b| %>
  <div class="form-check">
    <%= b.check_box class: "form-check-input"  %>
    <small>
      <%= b.label(class: "form-check-label") %>
    </small>
  </div>
<% end %>
<%= f.submit "Filtrar", class: "btn btn-primary btn-sm mt-3",
                        data: { turbo_frame: "location_equipments" } %>