<%= turbo_frame_tag "location_equipment_filters" do %>
  <%= form_with(url: url_for, method: :get, data: { turbo_stream: true }) do |f| %>
    <div class="container">
      <%= render "filter_item", title: "Cliente",
                                f: f,
                                attribute: :client_ids,
                                collection: Client.order(:name),
                                value: :id,
                                label: :name,
                                selected_filters: filter_params[:client_ids] %>
      <% if filter_params[:client_ids].present? &&
            (locations = Location.where(client_id: filter_params[:client_ids])).present? %>
        <%= render "filter_item", title: "Sede",
                                  f: f,
                                  attribute: :location_ids,
                                  collection: locations,
                                  value: :id,
                                  label: :name,
                                  selected_filters: filter_params[:location_ids] %>
      <% end %>
    </div>
  <% end %>
<% end %>