<p class="card-text m-0">
  <small class="text-body-secondary">
    <label><%= label %>: </label>
      <% if date %>
        <span>
          <%= date.strftime("%d/%m/%Y") %>
        </span>
      <% end %>
  </small>
</p>
