<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= location_equipment.equipment.brand %> - <%= location_equipment.equipment.model %></h5>
  </div>
</div>