<div class="col-lg-6">
  <% location_equipment.service_dates.each do |attribute| %>
    <%= render "service_date", label: LocationEquipment.human_attribute_name(attribute),
                                date: location_equipment.send(attribute),
                                location_equipment: location_equipment %>
  <% end %>
</div>
