<p class="card-text m-0">
  <small class="text-body-secondary">
    <label><%= label %>: </label>
      <% if date %>
        <span class="<%= label.include?("Próximo") ? service_date_color(date) : "" %>">
          <%= l(date, format: :month_year_concise) %>
        </span>
      <% end %>
  </small>
  <% if current_user.admin? && editable %>
    <%= link_to edit_location_equipment_path(location_equipment, edition: "service_dates"), class: "ms-2" , data: { turbo_frame: "remote_modal" } do %>
      <i class="fas fa-edit"></i>
    <% end %>
  <% end %>
</p>
