<div class="col-lg-6">
  <% LocationEquipment::SERVICE_KINDS[location_equipment.kind].each do |service_kind| %>
    <% attribute = "last_#{service_kind}" %>
    <%= render "last_service_date", label: LocationEquipment.human_attribute_name(attribute),
                                    date: location_equipment.last_service_date(attribute),
                                    location_equipment: location_equipment %>
  <% end %>
  <%= render location_equipment.next_service_dates %>
</div>
