<h1>Agregar nuevo equipo a la sede</h1>

<%= turbo_frame_tag @location_equipment do %>
  <%= render "form", location_equipment: @location_equipment,
                    client: @client,
                    equipments: @equipments %>
<% end %>