<h1>Agregar nuevo equipo a la sede</h1>

<%= turbo_frame_tag @location_equipment do %>
  <%= render "shared/remote_modal", title: "Nuevo Equipo de Sede" do %>
    <% if @client_id.blank? %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Seleccione un cliente
        </button>
        <ul class="dropdown-menu">
          <% Client.pluck(:id, :name).each do |client| %>
            <li><%= link_to client[1], new_location_equipment_path(client_id: client[0]),
                                      class: "dropdown-item",
                                      data: { turbo_frame: "remote_modal" } %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= render "form", location_equipment: @location_equipment,
                         locations: Location.where(client_id: @client_id) %>
    <% end %>
  <% end %>
<% end %>