<div class="row mt-3">
  <div class="mb-3 col-md-4">
    <%= image_tag image_for(@battery, :avatar, ""),
                  alt: "Imagen de Bateria",
                  class:"img-fluid rounded w-100" %>
  </div>
  <div class="col-md-8">
    <p>
      <strong class="text-bg-primary p-1 rounded me-2">
        Voltaje
      </strong>
      <%= @battery.voltage %>
    </p>
    <p>
      <strong class="text-bg-primary p-1 rounded me-2">
        Amper
      </strong>
      <%= @battery.amps %>
    </p>
  </div>
</div>