$primary: #6760fa;
$secondary: #283243;
$body-bg-dark: #1c2431;
$body-color-dark: white;

@import "bootstrap";
@import "font-awesome";

@media (min-width: 576px) {
  .sidebar {
    padding: 1.5rem;
    position: sticky;
    top: 10vh;
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    a {
      flex-grow: 0 !important;
      display: flex;
      align-items: center;
      i {
        margin-right: 15px;
      }
      p {
        font-size: 0.9rem !important;
      }
    }
  }
}
