<div style="max-height: 400px; overflow-y: auto;" class="my-4">
  <table class="table mb-0">
    <thead style="position: sticky; z-index: 100; top: 0">
      <tr>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>
    <%= render "activities/activities_table", activities: activities, location_equipment: location_equipment %>
  </table>
</div>
