
<div class="form-group">
  <%= form.input attribute, label: input_label %>
  <div class="form-check mb-4">
    <%= render "toggle_disable_checkbox", attribute: attribute, input_id: input_id, label: "Sin datos" %>
  </div>
</div>