
<div class="form-group">
  <div id= <%= form_group_id%>>
    <%= form.input attribute, label: input_label %>
  </div>
  <div class="form-check mb-4">
    <%= render "toggle_disable_checkbox", attribute: attribute, form_group_id: form_group_id, label: "Sin datos" %>
  </div>
</div>