<%= turbo_frame_tag report do %>
  <% if report.pdf.attached? %>
    <%= tag.iframe src: rails_blob_path(report.pdf, disposition: "inline"), width: "100%", height: "800", style: "border:0" %>
  <% else %>
    <p>No hay un PDF adjunto a este informe.</p>
  <% end %>
<% end %>