<tbody id="reports">
  <% if reports.empty? %>
    <tr id="empty_reports">
      <td colspan="2" class="text-center">No hay informes</td>
    </tr>
  <% else %>
    <%= render partial: "reports/report_table_row", collection: reports, as: :report, locals: { location_equipment: location_equipment } %>
  <% end %>
</tbody>