<%= turbo_frame_tag location do %>
  <div class="border text-center p-3 d-flex">
      <div class="flex-grow-1">
        <%= location.name %>
      </div>
      <%= render "shared/dropdown" do %>
        <%= render "shared/button_box", edit_path: [:edit, client, location],
                                        delete_path: [ client, location ],
                                        confirm: "Seguro queres borrar la Sede?" %>
      <% end %>
  </div>
<% end %>
