<h2>Crear nueva sede</h2>
<%= turbo_frame_tag @location do %>
  <%= render "shared/remote_modal", title: "Editar Sede" do %>
    <%= render "form", client: @client, location: @location %>
  <% end %>
<% end %>

