<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> alert-dismissible fade show m-0" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>